<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-5 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p>Please, forgive our intern, he's only good at making coffee.</p>
            <iframe src="https://giphy.com/embed/Ypb0ILMUEPtdY43gH2" width="446" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>  
    </div>
</div>
